<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.DataExchange.Tools.DynamicsConnect.NoReferences" version="2.0.180108" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Segmentation.xMgmt.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Conditions.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Engine.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.ExpressionBuilder.Model.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
</packages>