<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Serialization" 
					description="Foundation.Serialization templates and renderings" 			
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Serialization\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Rules.CRM" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CRM">
              <exclude children="true">
                <except name="Tags" />
                <except name="Visibility"/>
              </exclude>
            </include>           
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
